.wapper {
  .container {
    box-sizing: border-box;
    display: block;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .header {
      font-size: 22px;
      font-weight: 700;
    }

    .block-change-password {
      margin-bottom: 30px;
      padding: 10px;
    }

    .form__notice {
      font-size: 14px;
      font-weight: 700;
      margin-top: 30px;
    }

    .field {
      margin-top: 20px;
      position: relative;
    }

    .form__group {
      .group__item {
        -webkit-appearance: none;
        background: transparent;
        border: none;
        border-bottom: 1px solid #e8e8e8;
        border-radius: 0;
        height: 40px;
        padding: 10px 15px;
        width: 100%;
      }

      .field input {
        border-radius: 3px;
        box-sizing: border-box;
        color: #222;
        font-size: 16px;
        line-height: 40px;
        padding: 0 15px;
        width: 100%;
      }

      .field label:before {
        color: #777;
        content: attr(title);
        font-size: 14px;
        left: 15px;
        line-height: 40px;
        position: absolute;
        top: 0;
        transition: all 0.3s;
      }
    }

    .btn-form__submit {
      background: #e0052b;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 14px;
      font-weight: 600;
      margin: 20px auto 0;
      padding: 11px 0;
      text-align: center;
      width: 100%;
    }
  }
}
