@import url("../member/Member.module.scss");
.block-homepage-menu {
  background-color: #fff;
  border: 1px solid #eaedef;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0;
  position: relative;
  width: 100%;
  z-index: 1;
  border-radius: 8px;
  box-shadow: none;

  .block-homepage-menu__content {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
  }

  .content__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    width: 100%;
  }

  .content__item:first-of-type {
    border-right: 1px solid #111;
  }

  .item__content {
    font-size: 13px;
    padding-top: 10px;

    &.title {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 5px;
    }
  }
}

//block order
.block-order {
  margin-top: 20px;

  .block-sliding-order {
    overflow: auto;
    padding: 10px 0 0;
    position: sticky;
    top: 64px;
    width: 100%;
    z-index: 1;
  }

  .thumbs-wrapper {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    margin: auto;
    padding: 5px 0;
    width: 100%;
  }

  .thumb-item {
    background-color: #fff;
    border: 1px solid #eaedef;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 15px;
    white-space: nowrap;

    &.active {
      background-color: #d70018;
      color: #fff;
    }
  }

  @media screen and (min-width: 540px) {
    .thumbs-wrapper {
      justify-content: flex-start;
    }
  }
}

//list-order-wrapper
.list-order-wrapper {
  .block-order-item {
    background-color: #fff;
    border-radius: 8px;
    margin-top: 10px;
    padding: 15px 10px 15px 5px;
    position: relative;
  }

  .order-item {
    display: flex;
  }

  .order-item__img {
    margin-left: 10px;
    margin-right: 20px;
    padding: 5px;

    img {
      height: 110px;
      max-width: none;
      width: 110px;
    }
  }
  .order-item__info {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }

  .info__title {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;

    span {
      color: #4a4a4a;
      font-size: 16px;
    }

    p {
      color: #999;
      flex-shrink: 0;
      font-size: 14px;
    }
  }

  .order-status {
    border-radius: 3px;
    font-size: 12px;
    margin: 5px 0;
    padding: 4px 10px;
    white-space: nowrap;
    width: -moz-fit-content;
    width: fit-content;
    &.pending {
      background-color: #fff3cd;
      color: #856404;
    }

    &.ordered {
      background-color: #e7f4fe;
      color: #0c5460;
    }

    &.delivering {
      background-color: #d1e7dd;
      color: #155724;
    }

    &.delivered {
      background-color: #d1e7dd;
      color: #155724;
    }

    &.cancelled {
      background-color: #f8d7da;
      color: #721c24;
    }
  }

  .info__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;

    .price {
      color: #fd2424;
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 5px;
      margin-right: auto;
    }

    .group-btn-info {
      gap: 10px;
      margin-left: auto;

      .btn-info {
        background: transparent;
        border-radius: 3px;
        box-shadow: 0 0 0 0.5px #e0052b;
        color: #e0052b;
        cursor: pointer;
        font-size: 12px;
        padding: 3px 10px;
        position: relative;
        white-space: nowrap;
      }
    }
  }
}
