@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
}

svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}

button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 600;
}

hr {
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0;
}
code,
hr {
  background-color: #f5f5f5;
}

button {
  border: none;
  outline: none;
  background: none;
}

p {
  margin: 0;
}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
}

*,
::after,
::before {
  box-sizing: border-box !important;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--theme-text-color-2);
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: none;
  touch-action: manipulation;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
}

[data-tippy-root] {
  max-width: calc(100vw - 10px);
}

:root {
  --primary-color: #6bc67c;
  --slideshow-height: 270px;
  --desc-color: #0000008a;
  --header-height: 66px;
  --white-color: #fff;
  --text-color: #333;
  --gray-color: #666;
  --text-color: #333;
  --plum-color: #b80257;
  --fb-color: #4080ff;
  --mail-color: #f47425;
  --invalid-color: #f33a58;
  --desc-color: #0000008a;
  --first-color: #1dbfaf;
  --second-color: #1dbfaf;
  --button-color: #1dbfaf;
  --layout-sidebar-width: 96px;
  --invalid-color: #f33a58;
  --button-color: #1dbfaf;
  --divider-color: #dee3e9;
  --media-inner-border: rgba(28, 43, 51, 0.1);
  --button-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
  --comment-interactive-color: #0093fc;
  --comment-interactive-color-hover: #54b8ff;
  --comment-best-answer-color: #48bd79;
  --comment-option-separator-color: #fff;
  --comment-option-bg: #eef4fc;
  --comment-option-box-shadow: 0px 8px 16px 0px rgba(35, 115, 159, 0.16);
  --comment-button-normal-bg: #fff;
  --comment-app-bg: #fff;
  --comment-editor-bg: #eef4fc;
  --comment-editor-focus-bg: #fff;
  --comment-editor-text-color: #323c4a;
  --comment-blockquote-border-color: #00aaaa;
  --comment-placeholder-bg: #eef4fc;
  --comment-placeholder-color: #808b9a;
  --comment-title-color: #4e586b;
  --comment-text-color: #2e3441;
  --comment-border-color: #dae4f0;
  --comment-mention-bg: #f6f7f9;
  --comment-image-border-color: rgba(0, 0, 0, 0.05);
  --comment-primary-button-bg: #0093fc;
  --comment-theme-color-info: #3498db;
  --comment-theme-color-success: #07bc0c;
  --comment-theme-color-warning: #f1c40f;
  --comment-theme-color-error: #e74c3c;
  --comment-modal-overlay: rgba(244, 244, 244, 0.8);
  --comment-modal-bg: #fff;
  --comment-modal-close-bg: rgba(22, 24, 35, 0.08);
  --comment-modal-close-color: #4c4c4c;
  --comment-reaction-list-bg: #fff;
  --comment-reaction-tab-hover-bg: #f4f4f4;
}

body.no-scroll {
  overflow-y: hidden;
  padding-right: 15px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
