.MuiBox-root {
  width: calc(100vw - 170px);
}

.MuiButtonBase-root {
  svg {
    width: 2rem;
    height: 2rem;
  }
}

.MuiBadge-root {
  span {
    background: #6bc67c;
  }
}
@media (max-width: 767.98px) {
  .MuiBox-root {
    width: calc(100vw - 50px);
  }
}

.sub-title {
  a {
    color: #fff;
    font-size: 3.2rem;
    line-height: 1.5;
    font-weight: 700;
  }
}

.title {
  font-size: 40px;
  font-family: Montserrat;
}

.ctaBtn {
  margin-top: 12px;
  text-align: center;
  display: inline-block;
  min-width: 124px;
  padding: 4px 10px;
  color: #fff;
  border-radius: 16px;
  border: 2px solid #fff;
  font-size: 1.4rem;
  font-weight: 700;
  transition: ease 0.2s;

  &:hover {
    color: var(--cta-hover-color);
    background-color: #fff;
  }
}

.svg-inline--fa {
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  fill: currentColor;
}

.slick-dots {
  text-align: left;
  bottom: -38px;
  li {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;

    button {
      width: 30px;
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      &::before {
        font-family: slick;
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        opacity: 0.25;
        color: #000;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '';
        width: 32px;
        height: 8px;
        opacity: 1;
        border-radius: 4px;
        margin-right: 10px;
        background-color: #dce0e3;
        transition:
          width 0.3slinear,
          background-color 0.3slinear;
      }
    }
  }

  li.slick-active {
    button {
      // width: 50px;
      &::before {
        // width: 50px;
        background: #9aa6af;
        opacity: 0.75;
        color: #000;
      }
    }
  }
}

.svg-inline--fa {
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  fill: currentColor;
}

.wmde-markdown {
  img {
    margin-top: 10;
    margin: 0 auto !important;
    border-radius: 16px;
    display: block;
  }
}

.slick-list {
  padding: 10px 0;
}

//callToAction for product detail
.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
}

.title.is-6 {
  font-size: 1.6rem;
}

#callToAction {
  justify-content: space-between;
  padding: 0 10px 10px;
  text-align: left;
  width: 100%;

  button {
    height: 40px;
  }

  .temp-price {
    align-items: flex-start;
    flex-flow: column;
    margin-right: 10px;
    gap: 6px;

    em {
      color: #797979;
      font-size: 14px;
    }
  }

  button#buyNow {
    background-color: #1bba38;
    color: #fff;
    display: flex;
    flex-flow: column;
    line-height: 1.2;
    min-width: 150px;

    strong {
      display: block;
    }

    button#addToCart {
      align-items: center;
      border: 1px solid crimson;
      display: flex;
      flex-flow: column;
      justify-content: center;
      width: 60px;
    }
  }
}

.progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 9999px;
  display: block;
  height: 1rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

p.name-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #50943c;
  color: #fff;
  background-color: #ddd;
  border-radius: 50%;
  font-weight: 600;
  height: 32px;
  overflow: hidden;
  width: 32px;
}

.block-info__name {
  align-items: center;
  display: flex;
  gap: 15px;

  span.name {
    font-size: 15px;
    font-weight: 600;
  }
  .date-time {
    align-items: center;
    color: #707070;
    display: flex;
    font-size: 12px;
    gap: 5px;
    padding-top: 3px;
    text-align: right;
  }
}

.bought-cps {
  color: #229a16;
  font-size: 13px;
  gap: 3px;
}

svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}

._icon_1jdb1_1 {
  color: #1b74e4;
  margin-left: 6px;
}

.svg-inline--fa {
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  fill: currentColor;
}

.pagination {
  margin-top: 20px;
  .MuiPagination-ul {
    display: flex;
    justify-content: center;
  }

  a.Mui-selected {
    color: #fff;
    background-color: var(--primary-color) !important;

    &:hover {
      background-color: var(--primary-color) !important;
    }
  }
}

//breadcrumb
//Breadcrumb
.bannerTopHead {
  overflow: hidden;
  position: relative;
  width: 100%;

  .breadcrumb {
    padding: 0 115px;
  }

  a {
    font-size: 1.2rem !important;
  }

  .block-breadcrumbs {
    padding-top: 5px;
    align-items: center;
    background: #fff;
    box-shadow:
      0 2px 6px 0 rgba(60, 64, 67, 0.1),
      0 4px 8px 0 rgba(60, 64, 67, 0.15);
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    width: 100%;
    z-index: 2;

    &.affix {
      left: 0;
      position: fixed;
      top: 66px;
      z-index: 2;
    }
  }

  li a {
    display: flex;
    align-items: center;
  }

  li p {
    font-size: 1.2rem;
  }

  li:hover a {
    text-decoration: underline;
  }

  svg {
    fill: var(--primary-color) !important;
  }
}

.container {
  box-sizing: border-box;
  display: block;
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 1200px;
}

.cps-body {
  min-height: calc(100vh - 600px);
  padding: 5px 10px;
  background: #fff;
  border-radius: 8px;
}

// .MuiBox-root {
//   width: 100% !important;
// }

ol.MuiBreadcrumbs-ol {
  flex-wrap: nowrap;

  li {
    white-space: nowrap;
  }
}
