.card {
  position: relative;
}
.heading {
  min-height: 40px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 14px;
  font-weight: 600;
  height: 60px;
  overflow: hidden;
  position: relative;
  z-index: 9;
}

.wrap-price {
  display: flex;
  gap: 5px;
}

.cta-wrap {
  display: flex;
  svg {
    fill: var(--primary-color);
  }
}

.faverious-btn {
  position: absolute;
  top: 0;
  right: -15px;
}
.price {
  color: var(--primary-color);
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

.price-after-discount {
  color: #707070;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  -webkit-text-decoration: line-through;
  text-decoration: line-through;
}

.discount-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1;
}
.card-media-wrapper {
  position: relative;
}

.out-of-stock {
  color: red;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: #ffe6e6;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}
