.wapper {
  .block-info {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .block-mem-info__left {
      width: 100%;
    }
  }

  .block-welcome {
    position: relative;
  }

  .block-welcome__box-content {
    padding: 10px 0;
    display: flex;
    align-items: stretch;
  }
  .welcome-avatar {
    background-color: #fff;
    border: 1px solid #a83288;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 50%;
    padding: 15px;
  }

  .welcome-member {
    color: var(--colorSmember);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    justify-content: space-between;
    line-height: 18px;
    padding: 3px 10px;
    gap: 5px;
  }

  .welcome-member__name {
    font-size: 19px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
  }

  .welcome-member__phone {
    color: #637381;
    display: flex;
    font-size: 14px;
  }

  .member-icon {
    fill: #637381;
    height: 15px;
  }

  .label-rank {
    gap: 10px;
  }

  .welcome-member__level {
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 0 0 0.5px #a83288;
    color: #a83288;
    display: flex;
    font-size: 14px;
    line-height: 15px;
    padding: 2px 5px;
    text-transform: uppercase;
    width: fit-content;
  }
}

.welcome-member__phone {
  color: #637381;
  display: flex;
  font-size: 14px;
  margin-right: 8px;
}

.wishList {
  margin-top: 20px;
}

.wishList__title {
  color: #000;
  font-weight: 700;
  margin-bottom: 10px;
}

.block-homepage-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #eaedef;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0;
  position: relative;
  width: 100%;
  z-index: 1;
  border-radius: 8px;
  box-shadow: none;

  .block-homepage-menu__content {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
  }

  .block-smem-info__right {
    height: 100%;
  }

  .content__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    width: 100%;
  }

  .content__item:first-of-type {
    border-right: 1px solid #111;
  }

  .item__content {
    font-size: 13px;
    padding-top: 10px;

    &.title {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 5px;
    }
  }

  .block-homepage-menu__title {
    border-bottom: none;
    color: #637381;
    font-size: 12px;
    padding: 0 15px 5px;
    text-align: center;
    width: 100%;
  }

  .block-homepage-menu__content {
    display: flex;
    justify-content: space-around;
  }
  .is-qr-code img {
    display: block;
    max-height: 130px;
  }

  .bottom-timer {
    color: #919eab;
    font-size: 10px;
    text-align: center;
  }
}
