.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 28px;
  height: var(--header-height);
  border-bottom: 1px solid #e8ebed;
  background-color: #fff;
  font-size: 1.4rem;

  @media (max-width: 575.98px) {
    padding: 20px 16px;
    gap: 20px;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    gap: 10px;
    margin-left: auto;
  }
  .logo {
    cursor: pointer;
  }

  .logo-mobile {
    display: none;
  }

  @media (max-width: 767.98px) {
    .logo-mobile {
      display: block;
    }
    .logo-desktop {
      display: none;
    }
  }
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-member {
  cursor: pointer;
}
